<h2>
    Child List</h2>


<!-- Notice anything strange about the anchor tag there?
            That's a strange looking URL for the href property. Well, since you're now starting the process
            of building a SPA, then you don't want any link to actually refresh the browser, and so by prepending
            the new location with #, you ensure that. You'll see this in action as we set up the routing. -->
<div ng-repeat="child in children">
    <a href="#!/child/dashboard/{{ child.id }}">{{ child.name }}</a>
</div>
<div>
    <a href="/#!/child/new">Add Child</a>
</div>

<div ng-controller="ChildCreateCtrl">
    <h2>Add Child</h2>
    <form ng-submit="addChild()">
        <div>
            Name:
            <input type="text" ng-model="newChild.name">
        </div>
        <div>
            Date of Birth:
            <input type="date" ng-model="newChild.DOB">
        </div>
        <button>Add Child</button>
    </form>
</div>