<!--Partial file for showing dashboard -->
<div>

    <a href="#"></a>{{ child.name }}</a>

</div>

<div ng-controller="ChildDetailCtrl">

    <div>
        <h1>{{ child.name }}</h1>

        <h3>Date of birth: {{ child.DOB | date:"fullDate" }}</h3>
        <h3>Age: {{ getAge(child.DOB) }}</h3>
        <h3>Parent id: {{ child.parentId }}</h3>
        <h3>Child id: {{ child.childId }}</h3>
    </div>

    <button ng-click="deleteChild()">Delete</button>
</div>

<div ng-controller="PoopAddCtrl">
    <h2>Add Poop Diaper</h2>
    <form ng-submit="addPoop()">
        <div>
            Notes:
            <input type="text" ng-model="newPoopDiaper.notes">
        </div>

        <button>Add</button>
    </form>
</div>

<div ng-controller="WetAddCtrl">
    <h2>Add Wet Diaper</h2>
    <form ng-submit="addWet()">
        <div>
            Notes:
            <input type="text" ng-model="newWetDiaper.notes">
        </div>

        <button>Add</button>
    </form>
</div>

<div ng-controller="SleepStartCtrl">
    <h2>Start nap</h2>
    <form ng-submit="startNap()">
        <div>
            Where?
            <input type="text" ng-model="newNap.location">
        </div>

        <button>Start</button>
    </form>
</div>

<div ng-controller="SleepListCtrl">
    <h2>Sleep List</h2>

    <div ng-repeat="nap in sleep">
        <a href="#!/sleep/detail/{{ nap.id }}">{{ nap.location }}</a>
    </div>
</div>

<div ng-controller="WetListCtrl">
    <h2>Wet Diaper List</h2>

    <ul ng-repeat="diaper in wet">
        <li>
            {{ diaper.date | date : "shortTime" }}
        </li>
        <li>
            Notes: {{ diaper.notes }}
        </li>
        <li>
            <button ng-click="deleteDiaperBtn()">Delete</button>
        </li>
    </ul>
</div>

<div ng-controller="PoopListCtrl">
    <h2>Poop Diaper List</h2>

    <ul ng-repeat="diaper in poop">
        <li>
            {{ diaper.date | date : "shortTime" }}
        </li>
        <li>
            Notes: {{ diaper.notes }}
        </li>
        <li>
            <button ng-click="deleteDiaperBtn(diaper)">Delete</button>
        </li>
    </ul>
</div>

<div ng-controller="testCtrl">
    <canvas tc-chartjs-bar chart-data="data" chart-options="options" width="350" height="200">
    </canvas>
</div>
<div ng-controller="BarCtrl">
    <canvas id="bar" class="chart chart-bar" chart-data="data" chart-labels="labels" chart-series="series">
    </canvas>
</div>