<ul ng-controller="NavCtrl">
    <span ng-if="isAuthenticated()">
        <li>
            <a href="/#!/child/list">Home</a>
        </li>
        <li>
            <a href="/#!/sleep/list">Sleep List</a>
        </li>
        <li>
            <a href="/#!/sleep/start">Add Nap</a>
        </li>
        <!-- <li><span ng-include="'app/navigation/partials/search.html'"></span></li> -->

        <li class="align-right">
            <a href="#" ng-click="logout()">Logout</a>
            <h4>{{ displayName }}</h4>
        </li>
    </span>
    <span ng-if="!isAuthenticated()"></span>
</ul>