<ul ng-controller="NavCtrl">
        <li><a href="/#!/child/list">Child List</a></li>
        <li><a href="/#!/child/new">Add Child</a></li>
        <!-- <li><span ng-include="'app/navigation/partials/search.html'"></span></li> -->

        <li class="align-right">
            <span ng-if="isAuthenticated()">
                <a href="#" ng-click="logout()">Logout</a>
                <h3>{{ displayName }}</h3>
            </span>
            <span ng-if="!isAuthenticated()"></span>
        </li>
    </ul>