.hidden {
    display: none;
}

body {
    font-size: 1.5em;
    background-image: url("../background.png")
}

input,
button {
    font-size: 1em;
}

/* nav {
    background-color: turquoise;
}

nav>ul {
    padding: 0;
    padding: 10px;
}

nav>ul>li {
    display: inline;
    list-style-type: none;
    margin: 0 10px;
} */

.align-right {
    margin: 0 0 0 70px;
}

.card.horizontal {
    margin: auto;
    width: 50%;
    border: 3px;
    padding: 10px;
}

/* .name {
    margin: auto;
    width: 50%;
    border: 3px;
    padding: 10px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
    text-align: center;
} */

.card {
    margin: auto;
    width: 50%;
    border: 3px;
    padding: 10px;
}

.childContainer_grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

}